<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :space_cat_id, SpaceCat.all.collect { |p| [p.name, p.id] } %>
  </div>
  <div class="field">
    <%= f.select :adventure_id, Adventure.all.collect { |p| [p.location, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.text_field :payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
