<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :space_cat_id %><br>
    <%= f.number_field :space_cat_id %>
  </div>
  <div class="field">
    <%= f.label :adventure_id %><br>
    <%= f.number_field :adventure_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
