<h1>Listing Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Space Cat</th>
      <th>Adventure</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.space_cat.name %></td>
        <td><%= contract.adventure.location %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract?', new_contract_path %>
<%= link_to 'New Space Cat?', new_space_cat_path %>
<%= link_to 'New Adventure?', new_adventure_path %>
