
<h3>Space cats love adventure!</h3>
<%= image_tag("space_cat.jpg", size: "50%") %>
<h3> Contract one out to your location today!</h3>

<h3>Listing Contracts:</h3>

<table class="table">
  <thead>
    <tr>
      <th>Space Cat</th>
      <th>Adventure</th>
      <th>Payment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.space_cat.name %></td>
        <td><%= contract.adventure.location %></td>
        <td><%= contract.payment %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-default">
  <%= link_to 'New Contract?', new_contract_path %>
</button>
<button type="button" class="btn btn-default">
  <%= link_to 'New Space Cat?', new_space_cat_path %>
</button>
<button type="button" class="btn btn-default">
  <%= link_to 'New Adventure?', new_adventure_path %>
</button>
